<!-- users presentation -->
<img src="../favicon.ico" alt="" width="50" height="50">
<h2 class="font-italic "> UserName </h2>
<br>

<!-- list of firends -->
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <h3> <img src="../favicon.ico" alt="" width="40" height="40"> friend1</h3>
    </li>
    <li class="list-group-item">
        <h3> <img src="../favicon.ico" alt="" width="40" height="40"> friend2</h3>
    </li>
    <li class="list-group-item">
        <h3> <img src="../favicon.ico" alt="" width="40" height="40"> friend3</h3>
    </li>
    <li class="list-group-item">
        <h3> <img src="../favicon.ico" alt="" width="40" height="40"> friend4</h3>
    </li>
    <li class="list-group-item">
        <h3> <img src="../favicon.ico" alt="" width="40" height="40"> friend5</h3>
    </li>
</ul>