<ul class="navbar navbar-dark bg-dark">  
    <li  routerLinkActive="active">
        <a class=" text-muted" [routerLink]="['../user']">User</a>
    </li>

    <li  routerLinkActive="active">
        <a class=" text-muted" [routerLink]="['../home']">Home</a>
    </li>

    <li  routerLinkActive="active">
        <a class="text-muted" [routerLink]="['../search']"> Search </a>
    </li>

    <li  routerLinkActive="active">
        <a class="text-muted" (click)="onSignOut()">Disconect</a>  
    </li>
</ul>
