<div class="col">
    <section class="text-center" >
      <br>
      <h1> Green Social NetworK Project </h1>
      <p> Welcomme to SocialNetworkProjet</p>
    </section>
  </div>
  <div class="text-center" >
    <br>
    <div class="row">
      <!-- Formulaire de connexion -->
      <div class="col px-md-5">
        <app-connect></app-connect>
      </div>
      <!-- Formulaire d'inscription -->
      <div class="col px-md-5">
        <app-inscription></app-inscription>
      </div>
    </div>
    <p class="mt-5 mb-3 text-muted">Techno Web 2020</p>
  </div>
